.RtlTheme {
    direction: rtl;
}

.menuBar {
    right: 0;
    left: auto !important;
}

.menuItem {
    border: none !important;
}

@@media (min-width: 1200px) {
     .menuBar {
         right: 0;
         left: auto !important;
     }
 }

.menu-link {
    text-decoration: none !important;
}

@@media (max-width: 1200px) {
     .menuBar {
         left: 0;
         right: auto !important;
     }
 }

@@media (min-width: 1200px) {
     .layout-menu-fixed:not(.layout-menu-collapsed) .layout-page, .layout-menu-fixed-offcanvas:not(.layout-menu-collapsed) .layout-page {
         padding-right: 16.25rem !important;
         padding-left: 0rem;
     }
 }