
             @font-face {
                         font-family: 'B-Arabics-Style_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Arabics Style_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Arabics-Style_YasDL-font{
font-family:'B-Arabics-Style_YasDL' !important
}


             @font-face {
                         font-family: 'B-Arash_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Arash_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Arash_YasDL-font{
font-family:'B-Arash_YasDL' !important
}


             @font-face {
                         font-family: 'B-Aria_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Aria_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Aria_YasDL-font{
font-family:'B-Aria_YasDL' !important
}


             @font-face {
                         font-family: 'B-Arshia_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Arshia_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Arshia_YasDL-font{
font-family:'B-Arshia_YasDL' !important
}


             @font-face {
                         font-family: 'B-Aseman-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Aseman Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Aseman-Italic_YasDL-font{
font-family:'B-Aseman-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Aseman_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Aseman_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Aseman_YasDL-font{
font-family:'B-Aseman_YasDL' !important
}


             @font-face {
                         font-family: 'B-Badkonak_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Badkonak_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Badkonak_YasDL-font{
font-family:'B-Badkonak_YasDL' !important
}


             @font-face {
                         font-family: 'B-Badr-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Badr Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Badr-Bold_YasDL-font{
font-family:'B-Badr-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Badr_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Badr_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Badr_YasDL-font{
font-family:'B-Badr_YasDL' !important
}


             @font-face {
                         font-family: 'B-Baran-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Baran Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Baran-Italic_YasDL-font{
font-family:'B-Baran-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Baran-Outline-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Baran Outline Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Baran-Outline-Italic_YasDL-font{
font-family:'B-Baran-Outline-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Baran-Outline_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Baran Outline_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Baran-Outline_YasDL-font{
font-family:'B-Baran-Outline_YasDL' !important
}


             @font-face {
                         font-family: 'B-Baran_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Baran_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Baran_YasDL-font{
font-family:'B-Baran_YasDL' !important
}


             @font-face {
                         font-family: 'B-Bardiya-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Bardiya Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Bardiya-Bold_YasDL-font{
font-family:'B-Bardiya-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Bardiya_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Bardiya_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Bardiya_YasDL-font{
font-family:'B-Bardiya_YasDL' !important
}


             @font-face {
                         font-family: 'B-Cheshmeh-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Cheshmeh Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Cheshmeh-Bold_YasDL-font{
font-family:'B-Cheshmeh-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Cheshmeh_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Cheshmeh_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Cheshmeh_YasDL-font{
font-family:'B-Cheshmeh_YasDL' !important
}


             @font-face {
                         font-family: 'B-Chini_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Chini_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Chini_YasDL-font{
font-family:'B-Chini_YasDL' !important
}


             @font-face {
                         font-family: 'B-Compset-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Compset Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Compset-Bold_YasDL-font{
font-family:'B-Compset-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Compset_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Compset_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Compset_YasDL-font{
font-family:'B-Compset_YasDL' !important
}


             @font-face {
                         font-family: 'B-Davat_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Davat_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Davat_YasDL-font{
font-family:'B-Davat_YasDL' !important
}


             @font-face {
                         font-family: 'B-Elham_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Elham_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Elham_YasDL-font{
font-family:'B-Elham_YasDL' !important
}


             @font-face {
                         font-family: 'B-Elm-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Elm Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Elm-Bold_YasDL-font{
font-family:'B-Elm-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Elm-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Elm Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Elm-Italic_YasDL-font{
font-family:'B-Elm-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Elm_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Elm_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Elm_YasDL-font{
font-family:'B-Elm_YasDL' !important
}


             @font-face {
                         font-family: 'B-Esfehan-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Esfehan Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Esfehan-Bold_YasDL-font{
font-family:'B-Esfehan-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Fantezy_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Fantezy_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Fantezy_YasDL-font{
font-family:'B-Fantezy_YasDL' !important
}


             @font-face {
                         font-family: 'B-Farnaz_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Farnaz_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Farnaz_YasDL-font{
font-family:'B-Farnaz_YasDL' !important
}


             @font-face {
                         font-family: 'B-Ferdosi_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Ferdosi_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Ferdosi_YasDL-font{
font-family:'B-Ferdosi_YasDL' !important
}


             @font-face {
                         font-family: 'B-Haleh-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Haleh Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Haleh-Bold_YasDL-font{
font-family:'B-Haleh-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Haleh_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Haleh_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Haleh_YasDL-font{
font-family:'B-Haleh_YasDL' !important
}


             @font-face {
                         font-family: 'B-Hamid_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Hamid_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Hamid_YasDL-font{
font-family:'B-Hamid_YasDL' !important
}


             @font-face {
                         font-family: 'B-Helal_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Helal_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Helal_YasDL-font{
font-family:'B-Helal_YasDL' !important
}


             @font-face {
                         font-family: 'B-Homa_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Homa_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Homa_YasDL-font{
font-family:'B-Homa_YasDL' !important
}


             @font-face {
                         font-family: 'B-Jadid-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Jadid Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Jadid-Bold_YasDL-font{
font-family:'B-Jadid-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Jalal-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Jalal Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Jalal-Bold_YasDL-font{
font-family:'B-Jalal-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Jalal_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Jalal_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Jalal_YasDL-font{
font-family:'B-Jalal_YasDL' !important
}


             @font-face {
                         font-family: 'B-Johar_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Johar_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Johar_YasDL-font{
font-family:'B-Johar_YasDL' !important
}


             @font-face {
                         font-family: 'B-Kaj_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Kaj_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Kaj_YasDL-font{
font-family:'B-Kaj_YasDL' !important
}


             @font-face {
                         font-family: 'B-Kamran-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Kamran Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Kamran-Bold_YasDL-font{
font-family:'B-Kamran-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Kamran-Outline_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Kamran Outline_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Kamran-Outline_YasDL-font{
font-family:'B-Kamran-Outline_YasDL' !important
}


             @font-face {
                         font-family: 'B-Kamran_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Kamran_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Kamran_YasDL-font{
font-family:'B-Kamran_YasDL' !important
}


             @font-face {
                         font-family: 'B-Karim-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Karim Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Karim-Bold_YasDL-font{
font-family:'B-Karim-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Karim_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Karim_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Karim_YasDL-font{
font-family:'B-Karim_YasDL' !important
}


             @font-face {
                         font-family: 'B-Kaveh_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Kaveh_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Kaveh_YasDL-font{
font-family:'B-Kaveh_YasDL' !important
}


             @font-face {
                         font-family: 'B-Kidnap_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Kidnap_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Kidnap_YasDL-font{
font-family:'B-Kidnap_YasDL' !important
}


             @font-face {
                         font-family: 'B-Koodak-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Koodak Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Koodak-Bold_YasDL-font{
font-family:'B-Koodak-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Koodak-Outline_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Koodak Outline_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Koodak-Outline_YasDL-font{
font-family:'B-Koodak-Outline_YasDL' !important
}


             @font-face {
                         font-family: 'B-Kourosh_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Kourosh_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Kourosh_YasDL-font{
font-family:'B-Kourosh_YasDL' !important
}


             @font-face {
                         font-family: 'B-Lotus-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Lotus Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Lotus-Bold_YasDL-font{
font-family:'B-Lotus-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Lotus_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Lotus_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Lotus_YasDL-font{
font-family:'B-Lotus_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mahsa_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mahsa_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mahsa_YasDL-font{
font-family:'B-Mahsa_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mah_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mah_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mah_YasDL-font{
font-family:'B-Mah_YasDL' !important
}


             @font-face {
                         font-family: 'B-Majid-Shadow_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Majid Shadow_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Majid-Shadow_YasDL-font{
font-family:'B-Majid-Shadow_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mashhad-Bold-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mashhad Bold Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mashhad-Bold-Italic_YasDL-font{
font-family:'B-Mashhad-Bold-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mashhad-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mashhad Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mashhad-Bold_YasDL-font{
font-family:'B-Mashhad-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mashhad-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mashhad Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mashhad-Italic_YasDL-font{
font-family:'B-Mashhad-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mashhad_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mashhad_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mashhad_YasDL-font{
font-family:'B-Mashhad_YasDL' !important
}


             @font-face {
                         font-family: 'B-Masjed_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Masjed_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Masjed_YasDL-font{
font-family:'B-Masjed_YasDL' !important
}


             @font-face {
                         font-family: 'B-Medad_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Medad_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Medad_YasDL-font{
font-family:'B-Medad_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mehr-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mehr Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mehr-Bold_YasDL-font{
font-family:'B-Mehr-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mitra-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mitra Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mitra-Bold_YasDL-font{
font-family:'B-Mitra-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Mitra_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Mitra_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Mitra_YasDL-font{
font-family:'B-Mitra_YasDL' !important
}


             @font-face {
                         font-family: 'B-Moj_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Moj_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Moj_YasDL-font{
font-family:'B-Moj_YasDL' !important
}


             @font-face {
                         font-family: 'B-Morvarid_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Morvarid_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Morvarid_YasDL-font{
font-family:'B-Morvarid_YasDL' !important
}


             @font-face {
                         font-family: 'B-Narenj_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Narenj_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Narenj_YasDL-font{
font-family:'B-Narenj_YasDL' !important
}


             @font-face {
                         font-family: 'B-Narm_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Narm_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Narm_YasDL-font{
font-family:'B-Narm_YasDL' !important
}


             @font-face {
                         font-family: 'B-Nasim-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Nasim Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Nasim-Bold_YasDL-font{
font-family:'B-Nasim-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Nazanin-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Nazanin Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Nazanin-Bold_YasDL-font{
font-family:'B-Nazanin-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Nazanin-Outline_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Nazanin Outline_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Nazanin-Outline_YasDL-font{
font-family:'B-Nazanin-Outline_YasDL' !important
}


             @font-face {
                         font-family: 'B-Nazanin_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Nazanin_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Nazanin_YasDL-font{
font-family:'B-Nazanin_YasDL' !important
}


             @font-face {
                         font-family: 'B-Niki-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Niki Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Niki-Bold_YasDL-font{
font-family:'B-Niki-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Niki-Border-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Niki Border Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Niki-Border-Italic_YasDL-font{
font-family:'B-Niki-Border-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Niki-Outline-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Niki Outline Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Niki-Outline-Italic_YasDL-font{
font-family:'B-Niki-Outline-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Niki-Outline_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Niki Outline_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Niki-Outline_YasDL-font{
font-family:'B-Niki-Outline_YasDL' !important
}


             @font-face {
                         font-family: 'B-Niki-Shadow-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Niki Shadow Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Niki-Shadow-Italic_YasDL-font{
font-family:'B-Niki-Shadow-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Niki-Shadow_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Niki Shadow_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Niki-Shadow_YasDL-font{
font-family:'B-Niki-Shadow_YasDL' !important
}


             @font-face {
                         font-family: 'B-Nikoo-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Nikoo Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Nikoo-Italic_YasDL-font{
font-family:'B-Nikoo-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Nikoo_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Nikoo_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Nikoo_YasDL-font{
font-family:'B-Nikoo_YasDL' !important
}


             @font-face {
                         font-family: 'B-Paatch-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Paatch Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Paatch-Bold_YasDL-font{
font-family:'B-Paatch-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Paatch_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Paatch_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Paatch_YasDL-font{
font-family:'B-Paatch_YasDL' !important
}


             @font-face {
                         font-family: 'B-Rose_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Rose_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Rose_YasDL-font{
font-family:'B-Rose_YasDL' !important
}


             @font-face {
                         font-family: 'B-Roya-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Roya Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Roya-Bold_YasDL-font{
font-family:'B-Roya-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Roya_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Roya_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Roya_YasDL-font{
font-family:'B-Roya_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sahar_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sahar_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sahar_YasDL-font{
font-family:'B-Sahar_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sahra_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sahra_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sahra_YasDL-font{
font-family:'B-Sahra_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sara_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sara_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sara_YasDL-font{
font-family:'B-Sara_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sepideh-Outline_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sepideh Outline_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sepideh-Outline_YasDL-font{
font-family:'B-Sepideh-Outline_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sepideh_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sepideh_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sepideh_YasDL-font{
font-family:'B-Sepideh_YasDL' !important
}


             @font-face {
                         font-family: 'B-Setareh-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Setareh Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Setareh-Bold_YasDL-font{
font-family:'B-Setareh-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Setareh_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Setareh_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Setareh_YasDL-font{
font-family:'B-Setareh_YasDL' !important
}


             @font-face {
                         font-family: 'B-Shadi_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Shadi_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Shadi_YasDL-font{
font-family:'B-Shadi_YasDL' !important
}


             @font-face {
                         font-family: 'B-Shiraz-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Shiraz Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Shiraz-Italic_YasDL-font{
font-family:'B-Shiraz-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Shiraz_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Shiraz_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Shiraz_YasDL-font{
font-family:'B-Shiraz_YasDL' !important
}


             @font-face {
                         font-family: 'B-Siavash_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Siavash_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Siavash_YasDL-font{
font-family:'B-Siavash_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sina-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sina Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sina-Bold_YasDL-font{
font-family:'B-Sina-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sooreh-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sooreh Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sooreh-Bold_YasDL-font{
font-family:'B-Sooreh-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sooreh_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sooreh_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sooreh_YasDL-font{
font-family:'B-Sooreh_YasDL' !important
}


             @font-face {
                         font-family: 'B-Sorkhpust_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Sorkhpust_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Sorkhpust_YasDL-font{
font-family:'B-Sorkhpust_YasDL' !important
}


             @font-face {
                         font-family: 'B-Tabssom_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Tabssom_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Tabssom_YasDL-font{
font-family:'B-Tabssom_YasDL' !important
}


             @font-face {
                         font-family: 'B-Tanab_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Tanab_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Tanab_YasDL-font{
font-family:'B-Tanab_YasDL' !important
}


             @font-face {
                         font-family: 'B-Tawfig-Outline_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Tawfig Outline_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Tawfig-Outline_YasDL-font{
font-family:'B-Tawfig-Outline_YasDL' !important
}


             @font-face {
                         font-family: 'B-Tehran-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Tehran Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Tehran-Italic_YasDL-font{
font-family:'B-Tehran-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Tehran_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Tehran_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Tehran_YasDL-font{
font-family:'B-Tehran_YasDL' !important
}


             @font-face {
                         font-family: 'B-Tir_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Tir_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Tir_YasDL-font{
font-family:'B-Tir_YasDL' !important
}


             @font-face {
                         font-family: 'B-Titr-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Titr Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Titr-Bold_YasDL-font{
font-family:'B-Titr-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Traffic-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Traffic Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Traffic-Bold_YasDL-font{
font-family:'B-Traffic-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Traffic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Traffic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Traffic_YasDL-font{
font-family:'B-Traffic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Vahid-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Vahid Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Vahid-Bold_YasDL-font{
font-family:'B-Vahid-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Vosta-Italic_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Vosta Italic_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Vosta-Italic_YasDL-font{
font-family:'B-Vosta-Italic_YasDL' !important
}


             @font-face {
                         font-family: 'B-Vosta_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Vosta_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Vosta_YasDL-font{
font-family:'B-Vosta_YasDL' !important
}


             @font-face {
                         font-family: 'B-Yagut-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Yagut Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Yagut-Bold_YasDL-font{
font-family:'B-Yagut-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Yagut_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Yagut_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Yagut_YasDL-font{
font-family:'B-Yagut_YasDL' !important
}


             @font-face {
                         font-family: 'B-Yas-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Yas Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Yas-Bold_YasDL-font{
font-family:'B-Yas-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Yas_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Yas_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Yas_YasDL-font{
font-family:'B-Yas_YasDL' !important
}


             @font-face {
                         font-family: 'B-Yekan_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Yekan_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Yekan_YasDL-font{
font-family:'B-Yekan_YasDL' !important
}


             @font-face {
                         font-family: 'B-Zaman_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Zaman_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Zaman_YasDL-font{
font-family:'B-Zaman_YasDL' !important
}


             @font-face {
                         font-family: 'B-Zar-Bold_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Zar Bold_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Zar-Bold_YasDL-font{
font-family:'B-Zar-Bold_YasDL' !important
}


             @font-face {
                         font-family: 'B-Zar_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Zar_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Zar_YasDL-font{
font-family:'B-Zar_YasDL' !important
}


             @font-face {
                         font-family: 'B-Ziba_YasDL';
                        	src: url('/AspAdmin/assets/fonts/B Ziba_YasDL.com.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.B-Ziba_YasDL-font{
font-family:'B-Ziba_YasDL' !important
}


             @font-face {
                         font-family: 'IranianSans';
                        	src: url('/AspAdmin/assets/fonts/IranianSans.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.IranianSans-font{
font-family:'IranianSans' !important
}


             @font-face {
                         font-family: 'titr';
                        	src: url('/AspAdmin/assets/fonts/titr.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.titr-font{
font-family:'titr' !important
}


             @font-face {
                         font-family: 'Yekan';
                        	src: url('/AspAdmin/assets/fonts/Yekan.ttf');
                         font-weight: normal;
                         font-style: normal;

 }
.Yekan-font{
font-family:'Yekan' !important
}

