
@model RashaPrimeWeb.Application.Common.Models.PaginatedResult<RashaPrimeWeb.Application.CQRS.Category.Queries.GetAllCategory.GetAllCategoryDto>



@{
    Layout = null;
}






<div class="portlet-body">
    <div class="form-group">
        <label>انتخاب دسته های مرتبط</label>
        <select class="form-control select2" name="Model.CategoryId" multiple>
            @foreach (var tag in Model.Items)
            {
                <option value="@tag.Id">@tag.Name</option>

            }
        </select>
    </div><!-- /.form-group -->
</div><!-- /.portlet-body -->
