@model RashaPrimeWeb.Application.Common.Models.PaginatedResult<RashaPrimeWeb.Application.CQRS.Language.Queries.GetAllLanguage.GetAllLanguageDto>



@{
	Layout = null;
}








<div class="portlet-body">
	<div class="form-group">
		<label>انتخاب  زبان </label>
		<select class="form-control select2" name="Model.Lang_Id">
			@foreach (var tag in Model.Items)
			{
				<option value="@tag.Lang_Id">@tag.Title</option>

			}
		</select>
	</div><!-- /.form-group -->
</div><!-- /.portlet-body -->
