

@model  RashaPrimeWeb.Application.Common.Models.PaginatedResult<RashaPrimeWeb.Application.CQRS.Menu.Queries.GetAllMenu.GetAllMenuDto>


<div id="sidebar">

    <div class="side-menu-container">
    <ul class="metismenu" id="side-menu">
	
    <li>
	    <a href="dashboard.html" class="">
		    <i class="icon-home"></i>
		    <span>پیشخوان یک</span>
	    </a>
    </li>

    </ul><!-- /#side-menu -->
    </div><!-- /.side-menu-container -->
</div><!-- /#sidebar -->