
@model RashaPrimeWeb.Application.Common.Models.PaginatedResult<RashaPrimeWeb.Application.CQRS.Tag.Queries.GetAllTag.GetAllTagDto>

@{
    Layout = null;
}






<div class="portlet-body">
	<div class="form-group">
		<label>انتخاب تگ های مرتبط</label>
		<select class="form-control select2" name="Model.TagId" multiple>
			@foreach (var tag in Model.Items)
			{
				<option value="@tag.Id">@tag.Name</option>
                
			}
		</select>
	</div><!-- /.form-group -->
</div><!-- /.portlet-body -->


